.joke-container {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .joke {
    width: 50%;
    .setup {
      font-size: 2rem;
    }

    .delivery {
      font-size: 2rem;
      font-style: italic;
    }
  }
}
